In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv", index_col = "PassengerId")

In [3]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
train.shape

In [ ]:
train.index

In [ ]:
train.columns

In [ ]:
train.describe()

In [ ]:
train["Survived"].head()

In [ ]:
train[["Survived", "Pclass", "Sex", "Age"]].head()

In [ ]:
columns = ["Survived", "Pclass", "Sex", "Age"]
train[columns].head()

In [ ]:
train.loc[1]

In [ ]:
train.loc[1:10, columns]

In [ ]:
train.loc[[1,3,10,17], columns]

In [ ]:
train.loc[:, ["Age"]].head()

In [ ]:
train[train["Sex"] == 'male'].head()

In [ ]:
embarked_cls = train["Embarked"].isin(['Q', 'S'])
train[embarked_cls].head()

In [ ]:
train[train["Ticket"].str.contains("STON")].head()

In [ ]:
train[train["Name"].str.contains("Mr\.")].head()

In [ ]:
train[train["Age"].isnull()].head()

In [ ]:
train[train["Age"].notnull()].head()

In [ ]:
train[~train["Age"].isnull()].head()

In [ ]:
train[(train["Age"].isnull()) | (train["Fare"].isnull())].head()

In [ ]:
train[(train["Age"].isnull()) & (train["Fare"].isnull())].head()

In [ ]:
train["Fare"].mean()

In [ ]:
train["Age"].max()

In [ ]:
train["Age"].min()

In [ ]:
train["Family"] = train["SibSp"] + train["Parch"]

In [ ]:
train.head()

In [ ]:
train["DataType"] = "Titanic"

In [ ]:
train.head()

In [ ]:
train["Id"] = range(0, 891)

In [ ]:
train.head()

In [ ]:
train["Familysize"] = train["SibSp"] + train["Parch"] + 1
train[["SibSp", "Parch", "Familysize"]].head()

train["Child"] = 0

In [ ]:
train.head()

In [ ]:
train["Child"] = train["Age"] < 18

In [ ]:
train.head()

In [ ]:
train["Nationality_FR"] = train["Embarked"] == 'C'
train["Nationality_UK"] = train["Embarked"].isin(['Q','S'])
train.head()

In [ ]:
train.loc[train["Embarked"] == "C", "Nationality"] = "France"
train.loc[train["Embarked"].isin(["Q", "S"]), "Nationality"] = "England"
train[["Embarked", "Nationality"]].head()

In [ ]:
train["Fare_Low"] = train["Fare"] < 15
train["Fare_Medium"] = (train["Fare"] >= 15) & (train["Fare"] < 35)
train["Fare_High"] = train["Fare"] >= 35
train[["Fare", "Fare_Low", "Fare_Medium", "Fare_High"]].head()

In [ ]:
mean_age = train["Age"].mean()
train.loc[train["Age"].isnull(), "Age"] = mean_age
train.head()